<p id="notice"><%= notice %></p>

<h1 style="color:DodgerBlue">Listando todos os artigos</h1>

<%= render 'index', articles: @articles %>

<br>

<%= link_to 'Página inicial', root_path %>  |  
<%= link_to 'New Article', new_article_path %>
