<h1>This is the homepage</h1>
<h4 style="color: Tomato"><%= @nome %></h4>
<table>
    <tbody>
        <tr>
            <td><%= link_to 'About', about_path %></td>
            <td><%= link_to 'Alpha Blog', articles_path %></td>
        </tr>
    </tbody>
</table>